.main__contacto-container button {
  margin-top: 3rem;
  border-radius: 60px;
  font-family: $raleway;
  color: $granite-gray;
  font-size: $large;
  font-weight: $bold;
  border: 1px solid $granite-gray;
  padding-left: 5rem;
  padding-right: 5rem;
}
